.productItem {
  display: flex;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.details {
  flex: 1;
}
.details h3{
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center; 
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.buttons p {
  margin: 0;
  padding: 0; 
    margin-left: 0.25rem; 
  margin-right: 0.25rem; 
    font-weight: bold; 
}

.buttons button {
  padding: 0.3rem 0.6rem;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
